// Widescreens
// @include mediaXl {
//   //
//   main {
//     // ABOUT ME
//     &#about {
//       padding: 5rem;
//       min-height: calc(100vh - 60px);
//       h1 {
//         margin-top: 3rem;
//         font-size: 5rem;
//       }
//       h2 {
//         font-size: 1.5rem;
//         text-align: center;
//       }

//       .about-info {
//         //
//         img {
//           display: flex;
//           //
//         }
//         //
//         .bio {
//           //
//           display: flex;
//           flex-direction: column;
//           //
//           h3 {
//             margin-top: 1rem;
//             margin-bottom: 1rem;
//             font-size: 2.5rem;
//             text-align: center;
//           }
//           //
//           .history {
//             width: 50%;
//             border: 2px solid gold;
//             height: 20rem;
//             overflow-y: scroll;
//             margin-left: 50%;
//           }
//           //
//           p {
//             font-family: monospace;
//             margin: 0;
//             padding: 0.5rem;
//             font-size: 1.5rem;
//             text-align: center;
//           }
//           //
//           h3 {
//             margin-top: 1rem;
//             font-size: 3rem;
//             text-align: center;
//           }
//           //
//           .things {
//             width: 100%;

//             //
//             ul {
//               display: flex;
//               flex-direction: column;
//               text-align: initial;
//               line-height: 2;
//               outline: auto;
//               font-family: sans-serif;
//               width: 50%;
//               font-size: 1.5rem;
//             }
//           }
//         }
//       }
//     }

//     // MY PROJECTS
//     &#work {
//       //
//       #projects {
//         grid-template-columns: repeat(4, 1fr);
//       }
//     }

//     // CONTACT ME
//     #contact {
//       .boxes {
//         margin: 3rem 0rem 0rem 18rem;
//         transform: rotate(-1.7deg);

//         div {
//           width: 43%;
//           font-size: 1.2rem;
//           padding: 0.5rem 0.5rem;
//           margin-bottom: 2.5rem;
//         }
//       }
//     }
//   }
// }

// Desktop & Laptops
// @include mediaLg {
//   //
//   main {
//     // ABOUT ME
//     &#about {
//       padding: 5rem;
//       min-height: calc(100vh - 60px);
//       h1 {
//         margin-top: 3rem;
//         font-size: 5rem;
//       }
//       h2 {
//         font-size: 1.5rem;
//         text-align: center;
//       }

//       .about-info {
//         //
//         img {
//           display: flex;
//           //
//         }
//         //
//         .bio {
//           //
//           display: flex;
//           flex-direction: column;
//           //
//           h3 {
//             margin-top: 1rem;
//             margin-bottom: 1rem;
//             font-size: 2.5rem;
//             text-align: center;
//           }
//           //
//           .history {
//             width: 50%;
//             border: 2px solid gold;
//             height: 20rem;
//             overflow-y: scroll;
//             margin-left: 50%;
//           }
//           //
//           p {
//             font-family: monospace;
//             margin: 0;
//             padding: 0.5rem;
//             font-size: 1.5rem;
//             text-align: center;
//           }
//           //
//           h3 {
//             margin-top: 1rem;
//             font-size: 3rem;
//             text-align: center;
//           }
//           //
//           .things {
//             width: 100%;

//             //
//             ul {
//               display: flex;
//               flex-direction: column;
//               text-align: initial;
//               line-height: 2;
//               outline: auto;
//               font-family: sans-serif;
//               width: 50%;
//               font-size: 1.5rem;
//             }
//           }
//         }
//       }
//     }

//     // Projects
//     &#work {
//       //
//       .projects {
//         grid-template-columns: repeat(3, 1fr);
//       }
//     }

//     &#contact {
//       padding: 5rem;
//       .boxes {
//         margin: 2rem 0rem 0rem 17rem;

//         div {
//           width: 100%;
//           font-size: 1.2rem;
//           padding: 0.5rem 0.5rem;
//           margin-bottom: 2.5rem;
//         }
//       }
//     }
//   }

//   .main-footer {
//     span {
//       width: 20%;
//     }
//   }
// }

//---------------------------------------------- Tablets & Small Laptops SIZE
@include mediaMd {
  main {
    // HOME PAGE
    &#home {
      align-items: center;
      text-align: center;
      //
      .lg-heading {
        line-height: 1;
        margin-bottom: 1rem;
      }

      .icons {
        display: flex;
        justify-content: space-evenly;
        width: 50%;
      }
    }

    // ABOUT ME
    &#about {
      padding: 0 5rem;

      .about-info {
        //
        img {
          display: flex;
        }
        //
        .bio {
          //
          .text-secondary {
            margin-top: 1rem;
            font-size: 2rem;
            text-align: center;
          }
          //
          .history {
            width: 70%;
            height: 15rem;
            margin-left: 30%;
            p {
              text-align: center;
            }
          }
          //
          h3 {
            font-size: 2rem;
          }

          //
          .things {
            ul {
              width: 70%;
              font-size: 1.2rem;
            }
          }
        }
      }
    }

    // SKILLS
    &#skills {
      padding: 5rem;

      h2 {
        font-size: 1.2rem;
      }

      .skills-icons {
        grid-gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
      }
    }

    // MY PROJECTS
    &#work {
      .projects {
        grid-template-columns: repeat(2, 1fr);
      }

      // MODAL WINDOW
      .modal {
        //
        &-content {
          margin: 15% auto;
          width: 90%;
          height: 80vh;
        }
        &-header {
          h2 {
            font-size: 2rem;
          }
        }

        &-body {
          //
          padding: 10px 14px;

          .sm-header {
            font-size: 1.2rem;
          }

          img {
            width: 60%;
            height: 30.5vh;
            margin-bottom: 18px;
          }
        }
      }
    }

    // CONTACT ME
    &#contact {
      padding: 0 6rem 0 6rem;
      .boxes {
        margin: 10rem 0 0rem -2rem;
        div {
          width: 76%;
          font-size: 1.2rem;
          margin-top: 1rem;
        }
      }
    }
  }

  // SLIDE MENU
  ul.menu-nav,
  .menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url('../img/my_profile_smaller.jpg');
      width: 150px;
      height: 150px;
    }
  }

  #main-footer {
    span {
      width: 20%;
    }
  }
}

//--------------------------------------------SMARTPHONE SIZE

@include mediaSm {
  main {
    // HOME PAGE
    &#home {
      padding: 0;

      h1 {
        margin-top: 30vh;
        margin-bottom: 2rem;
        font-size: 4.5rem;
      }

      h2 {
        font-size: 1.2rem;
        margin-bottom: 2rem;
      }

      .icons {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
      }
    }

    // ABOUT ME
    &#about {
      padding: 1rem;
      h1 {
        margin: 0;
        font-size: 5rem;
        text-align: center;
      }
      h2 {
        font-size: 1.5rem;
        text-align: center;
      }

      .about-info {
        //
        img {
          display: flex;
        }
        //
        .bio {
          //
          .text-secondary {
            margin-top: 1rem;
            font-size: 3rem;
            font-family: monospace;
          }
          //
          .history {
            width: 100%;
            margin: 0;
            p {
              text-align: center;
            }
          }
          //
          h3 {
            font-size: 25px;
            font-family: monospace;
          }
          //
          .things {
            ul {
              width: 100%;
            }
          }
        }
      }
    }

    // SKILLS
    &#skills {
      padding: 5rem;

      h1 {
        font-size: 5rem;
      }

      h2 {
        font-size: 1rem;
      }

      .skills-icons {
        grid-gap: 2rem;
        grid-template-columns: repeat(1, 1fr);
      }
    }

    // MY PROJECTS
    &#work {
      padding: 5rem;
      //
      h1 {
        font-size: 4rem;
        text-align: center;
      }
      h2 {
        font-size: 1rem;
        text-align: center;
      }
      .projects {
        grid-template-columns: 1fr;
      }

      // MODAL WINDOW
      .modal {
        //
        &-content {
          margin: 15% auto;
          width: 90%;
          height: 80vh;
        }
        &-header {
          h2 {
            font-size: 2rem;
          }
        }

        &-body {
          //
          padding: 10px 14px;

          .sm-header {
            font-size: 1.2rem;
          }

          img {
            width: 60%;
            height: 17.5vh;
            margin-bottom: 18px;
          }
        }
      }
    }

    &#contact {
      padding: 4rem;
      h1 {
        margin-top: 1vh;
        font-size: 4.5rem;
        text-align: center;
      }
      h2 {
        font-size: 1.5rem;
        text-align: center;
      }

      .boxes {
        margin: 130px 0px 0 -50px;

        div {
          font-size: 1rem;
          width: 63%;
          margin: 3rem 0;
        }
      }
    }
  }

  //
  #main-footer {
    font-size: 1.5rem;
    padding: 0;

    span {
      width: 0;
      height: 0;
      visibility: hidden;
    }

    .icons {
      font-size: 1;
      padding-top: 0px;
      display: flex;
      justify-content: space-around;
      width: 100%;
    }
  }
}
