.menu-btn {
  position: absolute;
  z-index: 3;
  left: 30px;
  top: 30px;
  cursor: pointer;
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

.menu-btn .btn-line {
  width: 45px;
  height: 5px;
  margin: 0 0 7px 0;
  background: #fff;
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

.menu-btn.close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu-btn.close .btn-line:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(15px, -15px);
          transform: rotate(-45deg) translate(15px, -15px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;
}

.menu.show {
  visibility: visible;
}

.menu-branding, .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

.menu-nav {
  margin: 0;
  padding: 0;
  background: #121212;
  list-style: none;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

.menu-nav.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-branding {
  background: #333;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

.menu-branding.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-branding .portrait {
  width: 250px;
  height: 250px;
  background: url("../img/my_profile.jpg");
  border-radius: 50%;
  border: solid 3px gold;
}

.menu .nav-item {
  -webkit-transform: translate3d(600px, 0, 0);
          transform: translate3d(600px, 0, 0);
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

.menu .nav-item.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu .nav-item.current > a {
  color: gold;
}

.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  color: set-text-primary(#333);
  text-decoration: none;
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

.menu .nav-link:hover {
  color: gold;
}

.nav-item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #333;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

body#bg-img {
  background: url(../img/background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body#bg-img:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(51, 51, 51, 0.6);
}

body#bg-am-img {
  background: url(../img/about_me_background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body#bg-sk-img {
  background: url(../img/skills_background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body#bg-ct-img {
  background: url(../img/contact_background_img.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body#bg-wk-img {
  background: url(../img/projects_background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}

h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  font-size: 6rem;
}

h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  background: rgba(56, 56, 56, 0.5);
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: gold;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 80px);
}

main .icons {
  font-size: 1.5rem;
  margin-top: 1rem;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .icons a {
  padding: 0.4rem;
}

main .icons a:hover {
  font-size: 2rem;
  color: gold;
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

main#home {
  overflow: hidden;
}

main#home h1 {
  margin-top: 20vh;
}

main#skills {
  padding: 6rem;
}

main#skills .skills-icons {
  margin-top: 7rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

main#skills .skills-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  font-size: 2rem;
  border: 3px gold solid;
  background: rgba(51, 51, 51, 0.6);
  cursor: pointer;
}

main#skills i:hover {
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
  color: gold;
}

main#skills h3:hover {
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
  color: gold;
}

main#about .about-info .bio-image {
  margin: auto;
  border-radius: 50%;
  border: gold 3px solid;
}

main#about .about-info .bio ul {
  list-style: circle;
}

main#work .projects {
  margin-top: 7rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

main#work .projects img {
  width: 100%;
  border: 3px #fff solid;
}

main#work .projects img:hover {
  opacity: 0.5;
  border-color: gold;
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

main#about {
  padding: 5rem;
}

main#about h1 {
  margin-top: 3rem;
}

main#about .about-info img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main#about .about-info .bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main#about .about-info .bio h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  text-align: center;
}

main#about .about-info .bio .history {
  width: 50%;
  border: 2px solid gold;
  height: 20rem;
  overflow-y: scroll;
  margin-left: 50%;
}

main#about .about-info .bio p {
  font-family: monospace;
  margin: 0;
  padding: 0.5rem;
  font-size: 1.5rem;
  text-align: center;
}

main#about .about-info .bio h3 {
  margin-top: 1rem;
  font-size: 3rem;
  text-align: center;
}

main#about .about-info .bio .things {
  width: 100%;
}

main#about .about-info .bio .things ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: initial;
  line-height: 2;
  outline: auto;
  font-family: sans-serif;
  width: 50%;
  font-size: 1.5rem;
}

main#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main#contact .sm-heading {
  width: 100%;
}

main#contact .boxes {
  background: rgba(255, 255, 255, 0.253);
  padding: 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 6rem;
}

main#contact .boxes div {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  margin-top: 4rem;
  cursor: pointer;
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

main#contact .boxes div:hover {
  padding: 0.5rem 1.5rem;
  background: gold;
  color: #000;
}

main#contact .boxes div:hover span {
  color: #000;
}

.btn, .btn-dark, .btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
}

.btn:hover, .btn-dark:hover, .btn-light:hover {
  background: gold;
  color: #000;
}

.btn-dark {
  background: black;
  color: #fff;
}

.btn-light {
  background: #b3b3b3;
  color: #333;
}

#main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  color: #fff;
  height: 80px;
}

#main-footer span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-footer .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 85%;
}

#main-footer .icons a {
  font-size: 1.5rem;
}

#main-footer .icons a:hover {
  color: gold;
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
  font-size: 2rem;
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  main#home .icons {
    width: 35%;
  }
  main#skills {
    padding: 3rem;
  }
  main#skills .sm-heading {
    width: 100%;
  }
  main#skills .skills-icons {
    margin-top: 2rem;
    grid-gap: 1.5rem;
  }
  main#skills .skills-icons .skills-box {
    font-size: 1.3rem;
  }
  main#about {
    padding: 5rem;
    min-height: calc(100vh - 60px);
  }
  main#about h1 {
    margin-top: 3rem;
    font-size: 5rem;
  }
  main#about h2 {
    font-size: 1.5rem;
  }
  main#about .about-info img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main#about .about-info .bio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main#about .about-info .bio h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    text-align: center;
  }
  main#about .about-info .bio .history {
    width: 50%;
    border: 2px solid gold;
    height: 20rem;
    overflow-y: scroll;
    margin-left: 50%;
  }
  main#about .about-info .bio p {
    font-family: monospace;
    margin: 0;
    padding: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
  }
  main#about .about-info .bio h3 {
    margin-top: 1rem;
    font-size: 2.1rem;
    text-align: center;
  }
  main#about .about-info .bio .things ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: initial;
    line-height: 2;
    outline: auto;
    font-family: sans-serif;
    width: 50%;
    font-size: 1.2rem;
  }
  main#work .projects {
    grid-gap: 0.5rem;
  }
  main#contact {
    padding: 5rem;
  }
  main#contact .boxes {
    width: 65%;
    padding: 1rem;
    margin: 0;
  }
  main#contact .boxes div {
    width: 100%;
    font-size: 1.2rem;
    padding: 0.5rem 0.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  #main-footer span {
    width: 18%;
  }
}

@media screen and (max-width: 768px) {
  main#home {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  main#home .lg-heading {
    line-height: 1;
    margin-bottom: 1rem;
  }
  main#home .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 50%;
  }
  main#about {
    padding: 0 5rem;
  }
  main#about .about-info img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main#about .about-info .bio .text-secondary {
    margin-top: 1rem;
    font-size: 2rem;
    text-align: center;
  }
  main#about .about-info .bio .history {
    width: 70%;
    height: 15rem;
    margin-left: 30%;
  }
  main#about .about-info .bio .history p {
    text-align: center;
  }
  main#about .about-info .bio h3 {
    font-size: 2rem;
  }
  main#about .about-info .bio .things ul {
    width: 70%;
    font-size: 1.2rem;
  }
  main#skills {
    padding: 5rem;
  }
  main#skills .sm-heading {
    width: 100%;
  }
  main#skills .skills-icons {
    grid-gap: 1rem;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  main#work .sm-heading {
    width: 100%;
  }
  main#work .projects {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  main#contact {
    padding: 0 6rem 0 6rem;
  }
  main#contact .lg-heading {
    text-align: center;
  }
  main#contact .sm-heading {
    width: 100%;
  }
  main#contact .boxes {
    width: 80%;
    margin-top: 6rem;
  }
  main#contact .boxes div {
    font-size: 1.3rem;
    margin-top: 1rem;
  }
  ul.menu-nav,
  .menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu-nav.show,
  .menu-branding.show {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .menu-nav {
    height: 75vh;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }
  .menu-branding {
    height: 25vh;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .menu-branding .portrait {
    background: url("../img/my_profile_smaller.jpg");
    width: 150px;
    height: 150px;
  }
  #main-footer span {
    width: 20%;
  }
}

@media screen and (max-width: 500px) {
  main#home {
    padding: 0;
  }
  main#home h1 {
    margin-top: 30vh;
    margin-bottom: 2rem;
    font-size: 4.5rem;
  }
  main#home h2 {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  main#home .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
  }
  main#about {
    padding: 1rem;
  }
  main#about h1 {
    margin: 0;
    font-size: 5rem;
    text-align: center;
  }
  main#about h2 {
    font-size: 1.4rem;
    text-align: center;
  }
  main#about .about-info img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main#about .about-info .bio .text-secondary {
    margin-top: 1rem;
    font-size: 3rem;
    font-family: monospace;
  }
  main#about .about-info .bio .history {
    width: 100%;
    margin: 0;
  }
  main#about .about-info .bio .history p {
    text-align: center;
  }
  main#about .about-info .bio h3 {
    font-size: 25px;
    font-family: monospace;
  }
  main#about .about-info .bio .things ul {
    width: 100%;
  }
  main#skills {
    padding: 5rem;
  }
  main#skills h1 {
    font-size: 5rem;
  }
  main#skills .sm-heading {
    width: 100%;
  }
  main#skills .skills-icons {
    grid-gap: 2rem;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  main#work {
    padding: 5rem;
  }
  main#work h1 {
    font-size: 4rem;
    text-align: center;
  }
  main#work h2 {
    font-size: 1rem;
    text-align: center;
  }
  main#work .projects {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  main#contact {
    padding: 4rem;
  }
  main#contact h1 {
    font-size: 4.5rem;
    text-align: center;
  }
  main#contact h2 {
    font-size: 1.5rem;
    text-align: center;
  }
  main#contact .boxes {
    margin-top: 2rem;
    padding: 0.5rem;
    width: 100%;
  }
  main#contact .boxes div {
    font-size: 1rem;
    margin: 2.5rem 0;
  }
  #main-footer {
    font-size: 1.5rem;
    padding: 0;
  }
  #main-footer span {
    width: 0;
    height: 0;
    visibility: hidden;
  }
  #main-footer .icons {
    font-size: 1;
    padding-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */